{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==== favicon css ====-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />

    <!-- josefin font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet"> 

    <title>Sofast Multipurpose eCommerce HTML Template</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">

    <!-- flaticon -->
    <link rel="stylesheet" href="{% static 'assets/font/flaticon.css' %}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- menu -->
    <link rel="stylesheet" href="{% static 'assets/css/menu.css' %}">

    <!-- swiper slider -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">

    <!-- venobox -->
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css' %}">

    <!-- select -->
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

    <!-- jquery ui -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>

<body>
    <!-- start preloader area -->
    <div class="preloader">
        <div class="preloader-orbit-loading">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
          </div>
    </div>
    <!-- end preloader area -->

    <!-- start scroll top button -->
    <div class="scroll-top">
        <button class="top-to-btn">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    <!-- end scroll top button -->

    <!-- start fancybox area -->
    {% comment %} <div class="home1 fancybox">
        <div class="fancybox-bg"></div>
        <div class="fancybox-content">
            <div class="row">
                <div class="col-md-6 img-area">
                    <div class="popup-img">
                        <img src="assets/images/fancybox/img1.jpg" alt="Popup">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="popup-content text-center" data-img="assets/images/fancybox/shape.png">
                        <h2>Get 20% Discount Shipped To Your Inbox</h2>
                        <h5>sign up newsletter</h5>
                        <p>Enjoy our newsletter to stay updated with the latest news and special sales. Let's your email address here!</p>
                        <form action="#!">
                            <div class="d-flex justify-content-center">
                                <input type="email" placeholder="Enter your email" class="inputs">
                                <button type="submit" class="fancy-btn">subscribe</button>
                            </div>
                            <label for="term">
                                <input type="checkbox" class="check" id="term">
                                <span class="check-custom"></span>
                                don't show again
                            </label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="close-fancy">
                <button>
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- end fancybox area -->

    {% include './navbar.html' %}
    
    {% block content %}

    {% endblock %}


    {% include './footer.html' %}

    <!-- start product-detail modal -->
    <div class="modal fade quick-view-modal" id="exampleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="image-area">
                                <div class="product-gallery swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="item swiper-slide">
                                            <img id="zoom_01" src="assets/images/shop/img1.jpg" alt="Product" data-zoom-image="assets/images/shop/img1.jpg">
                                        </div>
                                        <div class="item swiper-slide">
                                            <img id="zoom_02" src="assets/images/shop/img2.jpg" alt="Product" data-zoom-image="assets/images/shop/img2.jpg">
                                        </div>
                                        <div class="item swiper-slide">
                                            <img id="zoom_03" src="assets/images/shop/img3.jpg" alt="Product" data-zoom-image="assets/images/shop/img3.jpg">
                                        </div>
                                        <div class="item swiper-slide">
                                            <img id="zoom_04" src="assets/images/shop/img4.jpg" alt="Product" data-zoom-image="assets/images/shop/img4.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="product-thumb swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="item swiper-slide">
                                            <img src="assets/images/shop/img-sm1.jpg" alt="Product">
                                        </div>
                                        <div class="item swiper-slide">
                                            <img src="assets/images/shop/img-sm2.jpg" alt="Product">
                                        </div>
                                        <div class="item swiper-slide">
                                            <img src="assets/images/shop/img-sm3.jpg" alt="Product">
                                        </div>
                                        <div class="item swiper-slide">
                                            <img src="assets/images/shop/img-sm4.jpg" alt="Product">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-6">
                            <div class="detail-content">
                                <p class="stock">available:<span> in stock</span></p>
                                <h5>Designer Luxuary Living Furniture Collections</h5>
                                <div class="review-area d-flex align-items-center">
                                    <ul class="rating d-flex">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <p>(2 customer review)</p>
                                </div>
                                <h5>$671.73 – <span>$921.45</span></h5>
                                <p class="desc">Crescendo lacusque ut utramque. Rapidisqur descen Diversa plagae minantia terras! Naturae super perveniunt Fixo fronde tellure orbis consistere margine sole toto tu Turba tuba surgere eodem. Nubibus ille in  saidul </p>
                                
                                <div class="color-pallate d-flex align-items-center">
                                    <p>color : </p>
                                    <ul class="d-flex">
                                        <li><a href="#!" class="blue"></a></li>
                                        <li><a href="#!" class="red"></a></li>
                                        <li><a href="#!" class="pink"></a></li>
                                    </ul>
                                </div>
                                <div class="category">
                                    <p>category : <a href="#!">home,</a> <a href="#!">bed,</a> <a href="#!">sofa</a></p>
                                    <p>tags : <a href="#!">home,</a> <a href="#!">furniture</a></p>
                                </div>
                                
                                <div class="border-area">
                                    <div class="cart-part d-flex align-items-center">
                                        <div class="d-flex number-spinner">
                                            <button data-dir="dwn" class="down-btn"><i class="fas fa-minus"></i></button>
                                            <input type="text" class="form-control text-center input-value" value="1">
                                            <button data-dir="up" class="up-btn"><i class="fas fa-plus"></i></button>
                                        </div>
                                        <a href="#!" class="cart">add to cart <span class="btn-dot"></span></a>
                                        <div class="add-more d-flex align-items-center">
                                            <a href="#!"><i class="flaticon-heart"></i></a>
                                            <a href="#!"><i class="flaticon-refresh"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="share d-flex align-items-center">
                                    <h5>share : </h5>
                                    <ul class="d-flex">
                                        <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-pinterest-p"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end product-detail modal -->

    <!-- jquery -->
    <script src="{% static 'assets/plugins/jquery-3.4.1.min.js' %}"></script>

    <!-- bootstrap -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <!-- menu -->
    <script src="{% static 'assets/plugins/menu.min.js' %}"></script>

    <!-- swiper slider -->
    <script src="{% static 'assets/plugins/swiper-bundle.min.js' %}"></script>

    <!-- packery -->
    <script src="{% static 'assets/plugins/packery.pkgd.min.js' %}"></script>

    <!-- countdown -->
    <script src="{% static 'assets/plugins/jquery.countdown.min.js' %}"></script>

    <!-- venobox -->
    <script src="{% static 'assets/plugins/venobox.min.js' %}"></script>

    <!-- jquery ui -->
    <script src="{% static 'assets/plugins/jquery-ui.min.js' %}"></script>

    <!-- select -->
    <script src="{% static 'assets/plugins/select2.min.js' %}"></script>

    <!-- zoom -->
    <script src="{% static 'assets/plugins/jquery.elevateZoom-3.0.8.min.js' %}"></script>

    <!-- Google map -->
    {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script> {% endcomment %}

    <!-- script -->
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>