{% load static %}

    <!-- start footer area -->
    <footer class="footer">
        <!-- start footer-top area -->
        <section class="footer-top pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>about us</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisici ti elit seddo eiusmod tempor incididunt utlabore et dolore magna aliqua  enim ad minim veniam quisnostrud exercitation ullamco</p>
                            <div class="follow">
                                <h6>follow us</h6>
                                <ul class="d-flex social">
                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-skype"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>my account</h5>
                            </div>
                            <ul>
                                <li><a href="my-account.html">my account</a></li>
                                <li><a href="wishlist.html">wishlist</a></li>
                                <li><a href="login.html">login</a></li>
                                <li><a href="contact.html">address</a></li>
                                <li><a href="shop-4-column.html">new products</a></li>
                                <li><a href="faq.html">faq</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>support</h5>
                            </div>
                            <ul>
                                <li><a href="#!">help</a></li>
                                <li><a href="contact.html">contact us</a></li>
                                <li><a href="#!">feedback</a></li>
                                <li><a href="#!">customer service</a></li>
                                <li><a href="#!">reservation</a></li>
                                <li><a href="#!">store locations</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>contact us</h5>
                            </div>
                            <ul class="address">
                                <li class="d-flex align-items-center">
                                   <div class="icon">
                                    <i class="flaticon-phone"></i>
                                   </div> 
                                   <div class="text">
                                       <h6>phone</h6>
                                       <p>(800) 123 456 789</p>
                                   </div>
                                </li>
                                <li class="d-flex align-items-center">
                                   <div class="icon">
                                    <i class="flaticon-mail"></i>
                                   </div> 
                                   <div class="text">
                                       <h6>email</h6>
                                       <p>example@mail.com</p>
                                   </div>
                                </li>
                                <li class="d-flex align-items-center">
                                   <div class="icon">
                                        <i class="flaticon-placeholder"></i>
                                   </div> 
                                   <div class="text">
                                       <h6>address</h6>
                                       <p>123, Western Road, Melbourne</p>
                                   </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="content">
                            <div class="title">
                                <h5>useful links</h5>
                            </div>
                            <ul>
                                <li><a href="#!">policy privacy</a></li>
                                <li><a href="#!">site map</a></li>
                                <li><a href="#!">store location</a></li>
                                <li><a href="my-account.html">my account</a></li>
                                <li><a href="#!">orders traking</a></li>
                                <li><a href="#!">terms of service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end footer-top area -->

        <!-- start footer-bottom area -->
        <section class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="border-area">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6">
                                    <p>&copy; {% now 'Y' %},  All Rights Reserved.</p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="payment">
                                        <ul class="d-flex justify-content-end">
                                            <li><a href="#!"><img src="{% static 'assets/images/payment/visa.png' %}" alt="Visa"/></a></li>
                                            <li><a href="#!"><img src="{% static 'assets/images/payment/master.png' %}" alt="Master"/></a></li>
                                            <li><a href="#!"><img src="{% static 'assets/images/payment/paypal.png' %}" alt="Paypal"/></a></li>
                                            <li><a href="#!"><img src="{% static 'assets/images/payment/skrill.png' %}" alt="Skrill"/></a></li>
                                            <li><a href="#!"><img src="{% static 'assets/images/payment/maestro.png' %}" alt="Maestro"/></a></li>
                                            <li><a href="#!"><img src="{% static 'assets/images/payment/electron.png' %}" alt="Electron"/></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end footer-bottom area -->
    </footer>
    <!-- end footer area -->